@font-face {
    font-family: "Core Sans G";
    src: url(fonts\Core Sans G\CoreSansG-Regular.ttf);
}

*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    resize: none;
    font-family: "Core Sans G";
}

body { 
    overflow-x: hidden; 
    overflow-y: hidden;
    
} 




:root{
    --azulescuro: #405189;
    --branco: #ffffff;
    --azulClaro: #0073EA;
    --cinza: #2C2E3E;
    --cinzaclaro: #7C7C7C;
    

}

.superior {
    background-color: var(--azulescuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}

.logo img {
    width: 180px;
    padding-left: 20px;
} 

.menu1 {
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
    /*height: 100vh; */
    height: 80px;
    width: 100px;
    text-align: center;
}


.left {
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
    height: 100vh;
    width: 7.5vw;
    text-align: center;
}

.left p {
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px;
    /*padding: 0 10px;*/
    display: flex;
    font-family: var(--fonte);
    font-weight: 700;
}

.barras {
    display: flex;
    font-family: var(--fonte);
    font-weight: 700;
}

#burger {
    font-size: 30px;
    padding: 30px 0;
    cursor: pointer;
}

.ricardo {
    display: flex;
    align-items: center;
    padding: 10px;
    color: var(--branco);

}

#seta {
    padding-left: 10px;
    cursor: pointer;
}

.campotexto{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding-left: 40px;
}

#lupa {
    padding: 10px;
    position: absolute;
    color: var(--cinzaclaro);
}

.pesquisa {
    display: flex;
    align-items: center;
}


main {
    display: flex;
    
}



.right {
    display: flex;

    width: calc(100vw - -90px);
    justify-content: center;
    align-items: center;
    font-family: var(--fonte1);
    color: var(--branco);
}

.link {
    height: 100vh;
    width: 40vh;
    margin: 4vh;
    color: var(--cinzaclaro);
    
    display: flex;
    
}