:root{
    --azulescuro: #405189;
    --branco: #ffffff;
    --azulClaro: #0073EA;
    --cinza: #2C2E3E;
    --cinzaclaro: #7C7C7C;
    --fonte: 'Noto Sans', sans-serif;
    --vermelho: #F22D2D;
    --laranja: #F9784F;
    --verde: #26CB7B;
}


table, th, td {
    border: 1px solid var(--cinzaclaro);
    border-collapse: collapse;    
}

.button {
    border-radius: 1px;
}

.btn {
    color: var(--branco);
    background-color: var(--azulClaro);
    border: 1px solid var(--azulClaro);
    border-radius: 10px;
}
  
.concluido {
    color: var(--branco);
    background-color: var(--verde);
}

.andamento {
    color: var(--branco);
    background-color: var(--laranja);
  }

.cancelado {
    color: var(--branco);
    background-color: var(--vermelho);
}  
