
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    }


:root
    {
    --azulC: #0073EA;
    --azulM: #405189;
    --azulE: #2C2E3E;
    --branco: #FFFFFF;
    --preto: #000000;
    --verde: #07f60b;


    --font1: 'Titillium Web', sans-serif;
    --font2: 'Righteous', cursive;
    }

main
    { 
    /* padding limita a area de trabalho da tela main  */
    padding: 10px 10px 10px 10px;
    margin-left: 220px;
    /* background: var(--azulC); */
    }



body
    {
        position: relative;
        min-height: 100vh;
        width: 100%;
        /* overflow: hidden;    */
    }

    
.sidebar
    {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        /* width: 18 0px; */
        background: var(--azulE);
        padding: 50px 50px;
    }

    /* distancia dos menus lateral */
.sidebar ul li
{
    position: relative;
    height: 100px;
    width: 100%;
    list-style: none;
}   

    /* menu lateral */
.link_name
    {
        color: var(--branco);
        font: var(--font1);
        font-size: 23px;
        text-transform: capitalize;
    }

    /* menu hamburge */
.logo_content img
    {
        margin: 20px;
        width: 60px;
        height: 40px;
        /* padding: 100px 5px; */
    }

.nav_list
    {
        padding: 100px 5px;
    }

.menu_sup
    {
        display: flex;
        padding: 25px 300px;
        background: var(--azulM)
    }

 #divBusca
    {
        background-color:var(--branco);
        border:solid 1px;
        border-radius:15px;
        width:300px;
    }
      
#txtBusca
    {
        float:left;
        background-color:transparent;
        padding-left:5px;
        font-style:italic;
        font-size:18px;
        border:none;
        height:32px;
        width:260px;
    }

.label-input 
    {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    }

.label-input label 
    {
    color: var(--preto);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    }

.label-input input 
    {
    height: 60px;
    border-radius: 7px;
    border: none;
    text-indent: 5px;
    font-size: 30px;
    background-color: var(--preto);
    color: var(--preto);
    }


  
	table 
    {
		border: 1px solid black;
        border-radius: 40px;
        border-spacing: 0;
	}
   
    th, td
    {
        text-transform: capitalize;
        padding: 10px;
        text-align: left;
        width: 150px;
        height: 30px;
        border: 1px solid var(--preto);
        border-left: none;
        border-bottom: none;
    }

    th 
    {
        border-top: none;
    }

    th:first-child 
    {
        border-left: none;  
        width: 50px;
        height: 30px;  
        padding: 25px;   
    }

    th:last-child 
    {
        border-right: none;       
    }

    td:first-child 
    {
        border-left: none;  
        width: 50px;
        height: 30px;  
        padding: 25px;   
    }

    td:last-child 
    {
        border-right: none;
        width: 50px;
        height: 30px;
    }

.filho1{
    display: none; 
}

/* @media button  */

  .pai1:hover + .filho1
    {
        display: table-row;
       /* display: inline-block;  */
       /* display: none;  */
    }  
  
.cor_seta
    {
        fill: var(--verde);
        width: 40px;
        height: 40px;
    }

.cor_quadrado
    {
        fill: var(--verde);
    }