
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    }


:root
    {
    --azulC: #0073EA;
    --azulM: #405189;
    --azulE: #2C2E3E;
    --branco: #FFFFFF;
    --preto: #0000;

    --font1: 'Titillium Web', sans-serif;
    --font2: 'Righteous', cursive;
    }


body
    {
        position: relative;
        min-height: 100vh;
        width: 100%;
        overflow: hidden;
        
    }

    main{
        width: calc(100vw - 170px);
        height: calc(100vh - 80px);
        margin-left: 170px;
    }

 
.sidebar
    {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 170px;
        background: var(--azulE);
        padding: 20px 20px;
    }

    /* distancia dos menus lateral */
.sidebar ul li
{
    position: relative;
    height: 80px;
    width: 100%;
    list-style: none;
}   

    /* menu lateral */
.link_name
    {
        color: var(--branco);
        font: var(--font1);
        font-size: 18px;
        text-transform: capitalize;
    }

    /* menu hamburge */
.logo_content img
    {
        margin: 20px;
        width: 60px;
        height: 40px;
    
    }
    /* logo mamuka */
    .menu_sup img{
        width: 150px;
        padding: 20pix;

    }

.nav_list
    {
        padding:80px 5px;
    }

.menu_sup
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 200px;
        height: 80px;
        background: var(--azulM)
    }

    .barra_pesquisa{
        width: 400px;
        height: 35px;
        border-radius: 10px;
    }

 #divBusca
    {
        background-color:var(--branco);
        border:solid 1px;
        border-radius:15px;
        width:300px;
    }
      
#txtBusca
    {
        float:left;
        background-color:transparent;
        padding-left:5px;
        font-style:italic;
        font-size:18px;
        border:none;
        height:32px;
        width:260px;
    }

    .container{
        display: flex;
        justify-content: center;
        height: 100%;
        align-items: center;
    }

    .formulario{
        height: 250px;
        width: 50%;
        border-radius: 10px;
        border-width: 5px 1px;
        border-color: #0073EA #7c7c7c;
        border-style: solid;
        display: flex;
        flex-direction: column;

    }

    .input-box{
        padding: 5px;
        display: flex;
        flex-direction: column;
    }

    .Gestor{
        margin: 45px;

        
    }

    .linha1{
        display: flex;
        justify-content: space-between;
        width: 100%;
    }


    .linha2{
        display: flex;
        justify-content: space-between;
        width: 100%;

    }

    .continue-button button{
        padding: 5px;
        color: white;
        background-color: red;

    }
    

