*{
 padding: 0;
 margin: 0;
 border: 0;
 box-sizing:border-box;
 font-family: "Core Sans G";
}

@font-face {
  font-family:"Core Sans G" ;
  src: url(../Fontes/Core_Sans_G/CoreSansG-Regular.ttf);
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
 --azulescuro: #405189;
 --azul: #0073ea;
 --branco: #ffffff;
 --azulescuromais: #2e2e3e;
 font: 1em sans-serif;

}

.topo{
  
    background-color: var(--azulescuro);

}


main{
  display: flex;
  justify-content: space-between;
}

.elementosdaesquerdas{
  background-color: #2e2e3e;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--branco);
  width: 10%;
  height: 100vh;
  
  text-align: center;
}
.manu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;


}
.amor{
  color: #ffffff;
  display: flex;
  align-items: center;
}

#pulo{
  font-size: 40px;
  padding: 30px 0;
}

.ali{
  border-radius: 20px;
  border: 2px;
}

  
  
  
  


.zaza p{
  padding-top: 30px;
  font-weight: 700;
}

.ricardosouza p{
  color: var(--branco);
  
}
.botao{
  
  margin: 30px;
  border-radius: 20px;
}


.posicao{
  width: 80%;
  margin: 0 auto;
  
}

.linha_conteudo{
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.direita {
  border-radius: 10px;
  font-size: 15px;
  border: 1px solid #7c7c7c;
  display: flex;
  padding:0 6px;
  margin: 5px;
  justify-content: flex-end;
  
}

.direita p{
    padding: 6px;

}

.corpo{
  background-color: #405189;
  display: flex;
  border-radius: 10px;
  color: #ffffff;
}

.esquerda p{
  color: #7c7c7c;
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  border-radius: 15px;
  padding: 10px;
  padding-top: 10px;
  flex-direction: row-reverse;
  
}

.centro{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;

  width: 400px;
  
  
  border-top: 4px solid var(--azul);
  border-bottom: 4px solid var(--azul) ;
  border-left: 2px solid #7c7c7c;
  border-right:  2px solid #7c7c7c;
  justify-content: center;
}

.bonequinho{
  display: flex;
  justify-content: center;
  align-items: center;
}

  .perfil{
    border-radius: 10px;
    font-size: 20px;
    border: 2px solid #7c7c7c;
    
    
 }

 .salvar{
  font-size: 15px;
  color: #ffffff;
  background-color: #405189;
  padding: 10px;
  display: flex;
}

.inpuperfil{
  display: flex;
  width: 200px;
  height: 20px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 20px;
}

.coluna{
  background-color: #2e2e3e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

 
  
  


  
    
  
    
    
    
    
    
    
    
    
    

    
    

    
    

    
  

  
  







  
  
  
  
  
  










   
   






