*{
 padding: 0;
 margin: 0;
 border: 0;
 box-sizing:border-box;
}


@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

:root{
 --azulescuro: #405189;
 --azul: #0073ea;
 --branco: #ffffff;
 --azulescuromais: #2e2e3e;
 font: 1em sans-serif;

}

.topo{
  
    background-color: var(--azulescuro);

}




.elementosdaesquerdas{
  background-color: #2e2e3e;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--branco);
  
  text-align: center;
}
.manu{
  display: flex;
  justify-content: space-between;
  align-items: center;


}
.amor{
  color: #ffffff;
  display: flex;
  align-items: center;
}





  
.cabecario{
    
    
    align-items: center;
    
    
    
    
    
    display: flex;
    
    
    
}
    
    

    
    

    
  

  
  
input{
  display: flex;
  width: 200px;
  height: 20px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  
  border-radius: 20px;
  
  
  



}
.ricardosouza p{
  color: var(--branco);
  
}

.foto{
  width: 40px;
  height: 20px;
  justify-content: center;
  
}
.centro{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.bonequinho{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.perfil{
   width: 40px;
   height: 20px;
   display: flex;
   align-items: center;
}

.inpuperfil{
  display: flex;
  width: 200px;
  height: 20px;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 20px;
}
.coluna{
  background-color: #2e2e3e;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.manu_links{
  background-color: #405189;
  display: flex;
  
  
}