* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    resize: none;

}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');



:root {
    --azulescuro: #405189;
    --branco: #ffffff;
    --azulClaro: #0073EA;
    --cinza: #2C2E3E;
    --cinzaclaro: #7C7C7C;
    --fonte1: 'Raleway', sans-serif;


}

.topo {
    background-color: var(--azulescuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
}

.menu {
    background-color: var(--cinza);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--branco);
    height: 100vh;
    text-align: center;
    width: 10%;
    z-index: 0;
}

.menu p {
    padding-top: 30px;

}

.geralmenus {
    display: flex;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

#hamb {
    font-size: 40px;
    padding: 30px 0;
    cursor: pointer;
}

.ricardo {
    background-color: var(--azulescuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}


#seta {
    padding-left: 10px;
    cursor: pointer;
}

.campotexto {
    width: 300px;
    height: 30px;
    border-radius: 10px;
    padding-left: 40px;

}

#lupa {
    padding: 10px;
    position: absolute;
    color: var(--cinzaclaro);
}

.pesquisa {
    display: flex;
    align-items: center;
}

.geralconteudo {
    display: flex;
    width: calc(100vw - -100px);
    justify-content: center;
    align-items: center;
    font-family: var(--fonte1);
    color: var(--branco);
}

main {
    width: calc(100vw - 155px);
    display: flex;
    justify-content: center;
    align-items: center;




}

.posicao-main {
    display: flex;
    justify-content: space-between;



}


.conteudo {
    display: flex;
    justify-content: space-between;
    align-items: center;


}

.cadastro,
.consulta {
    width: 40%;
    display: flex;
    align-items: center;
    flex-direction: column;


}


.button {
    background-color: var(--azulescuro);
    margin: 50px auto;
    border-radius: 10px;
    font-family: Core Sans G, sans-serif;
    height: 3vh;
    padding: 15px;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    display: flex;
    align-items: center;

}

