* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    resize: none;
}
@font-face {
    font-family: "Core Sans G";
    src: url(../fonts/CoreSansG-Regular.ttf);
}


:root{
    --azulescuro: #405189;
    --branco: #ffffff;
    --azulClaro: #0073EA;
    --cinza: #2C2E3E;
    --cinzaclaro: #7C7C7C;
    --font: "Core Sans G";
    --vermelho: #F22D2D;
    --laranja: #F9784F;
    --verde: #26CB7B;
}

body {
    width: 100vw;  
    height: 100vh;
    display: flex;
    font-family: var(--font);
    overflow-x: hidden; 
    overflow-y: hidden;

}


aside {
    display: flex;
    height: 100vh;
    width: 6.5vw;
    
}

.menu {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: var(--cinza);
    color: #fff;
    fill: #fff;
} 

.menu svg{
    height: 5vh;
    width: 5vw;
    margin-top: 15px;
}
/* 
.menu p {
    padding-top: 50%;
    padding-right: 5%;
    padding-left: 5%;
    font-weight: 700;
    
} */

.menu a{
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 50%;
    font-weight: 600;
    text-decoration: none;
    color: var(--branco);
}


.right {

    display: flex;
    flex-direction:column-reverse;
    height: 100vh;
    width: 83.8vw;
    
}

.topo {
    height: 12vh;
    width: 93.5vw;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--azulescuro);

    align-items: center;
}



.logo img {
    width: 180px;
    padding: 15px;
} 

/*
.campotexto{
    width: 25vw;
    height: 30px;
    border-radius: 10px;
    padding-left: 40px;
}

#lupa {
    padding: 10px;
    position: absolute;
    color: var(--cinza);
    
}

.pesquisa {
    display: flex;
    align-items: center;
}
*/

.pesquisa {
    color: var(--cinzaclaro);
}

.pesquisa svg {
    
    position: absolute;
    color: var(--cinza);
    margin-left: 7px;
    margin-top: 7px;
    fill: var(--cinzaclaro);
}
.campotexto{
    width: 25vw;
    height: 30px;
    border-radius: 10px;
    padding-left: 40px;
    border: none;
    
}

.ricardo {
    display: flex;
    align-items: center;
    padding: 15px;
    color: var(--branco);
    fill: var(--branco);
}

.ricardo img {
    padding: 10px;
}



/* .ricardo p {
    padding-right: 9px;
    font-weight: 600;
    

} */

.ricardo a {
    font-weight: 600;
    padding-right: 9px;
    text-decoration: none;
    color: var(--branco);
}

main {
    height: 88vh;
    width: 100vw;  
    display: flex;
    justify-content: center;
    background-color: #fff;
}

.link {
    color: var(--cinzaclaro);
    padding-top: 1%;
    margin-right: 3%;
}

section {
    padding-top: 3%;
}




table {
    border-collapse: collapse;
    border-radius: 20px 20px 20px 20px  ; /* para borda com o hidden*/
    overflow: hidden;
    
}

.header_fixed {
    height:  100%;
    overflow: auto;
    margin-top:  30px;
    
    
}

.header_fixed thead th{
    position: sticky;
    top: 0;
    background-color:var(--azulClaro);
    color: var(--branco);
    font-size: 15px;
    font-weight: 800;
}

th,td {
    border-bottom: 1px solid #ddd;
    padding: 10px 20px;
    font-size: 14px;
    
}


tr:nth-child(even){
    background-color: #dddd;
}

tr:nth-child(odd){
    background-color: #edeef1;
}

tr:hover td {
    color: var(--azulescuro);
    cursor: pointer;
    background-color:  #fff;
}

td button{
    border: none;
    padding: 7px 20px;
    border-radius: 20px;
    background-color: var(--azulClaro);
    color: #e6e7eb;
    font-weight: bold;
}


/*
::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,3)
}

::-webkit-scrollbar-thumb{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,3)
} */

.concluido {
    color: var(--branco);
    background-color: var(--verde);
    font-weight: bold;
}

.andamento {
    color: var(--branco);
    background-color: var(--laranja);
    font-weight: bold;
  }

.cancelado {
    color: var(--branco);
    background-color: var(--vermelho);
    font-weight: bold;
} 